# Django stuff:
*.log
*.pot
*.pyc
*.pyo
__pycache__/
#db.sqlite3
#*.sqlite3

# Local environment files
.env
.env.*
!.env.example

# Python dependencies
venv/
env/
env.bak/
venv.bak/

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# IDE and editor folders
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Static files (if using git to manage these)
static/
media/

# folders not in use
alpha/
nuxt-black-dashboard-master/
ft_userdata/

# Docker-related files (if applicable)
docker-compose.override.yml
*.swp

# Nuxt.js stuff:

# Nuxt build output
.nuxt/
dist/

# Node.js dependencies
node_modules/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# IDE and editor folders (for Nuxt)
.vscode/

# Environment files for Nuxt
.env.*
!.env.example

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example